{% extends 'base.html'%}

{% block content%}

<h2>Add Recipe</h2>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}   
    {% endif %}
{% endwith%}



<form action="{{ url_for('new_recipe') }}" method="POST">
    <section class="add">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Category</span>
            </div>
        <input id="category" name="category_name" type="text" class="form-control" placeholder="Category" >
        </div>
    </section> 
    <section class="add">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Recipe Name</span>
            </div>
        <input id="recipe_name" name="recipe_name" type="text" class="form-control" placeholder="Recipe Name" >
        </div>
    </section>
    <section class="add">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">URL of Image</span>
            </div>
        <input id="image" name="recipe_image" type="text" class="form-control" placeholder="Place URL of image" >
        </div>
    </section> 
    <section class="add">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Ingredients</span>
            </div>
            <textarea id="ingredients" name="ingredients" class="form-control" aria-label="With textarea" placeholder="Please add a comma between ingredients"></textarea>
        </div>
    </section>
    <section class="add">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Method</span>
            </div>
            <textarea id="method" name="method" class="form-control" aria-label="With textarea" placeholder="Please add a comma between methods"></textarea>
        </div>
    </section>
    <section class="add">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Prep Time in mins</span>
            </div>
        <input id="prep_time" name="prep_time" type="text" class="form-control" placeholder="Prep Time" >
        </div>
    </section>
    <section class="add">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Cooking Time in mins</span>
            </div>
        <input id="cooking_time" name="cooking_time" type="text" class="form-control" placeholder="Cooking Time" >
        </div>
    </section>
    <section class="add">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Serving</span>
            </div>
        <input id="serving" name="serving" type="text" class="form-control" placeholder="Serving" >
        </div>
    </section>
    <section>
        <div class="buttons">
            <button href="{{url_for('display_recipes')}}" class="btn btn-primary btn-sm"
                type="submit" name="action">Add</button> 
            <button href="{{url_for('display_recipes')}}" class="btn btn-primary btn-sm">Back</button>
        </div>
    </section>
</form>
{% endblock %}