{% extends 'base.html'%}

{% block content%}

<h2>Add Recipe</h2>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}   
    {% endif %}
{% endwith%}

<form action="{{ url_for('new_recipe') }}" method="POST" enctype="multipart/form-data">
    <section class="add">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon0">Category</span>
            </div>
        <input id="category" name="category" type="text" class="form-control" placeholder="category" >
        </div>
    </section> 
    <section class="add">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon0">Recipe Name</span>
            </div>
        <input id="recipe_name" name="recipe_name" type="text" class="form-control" placeholder="Recipe Name" >
        </div>
    </section>
    <section class="add">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon0">URL of Image</span>
            </div>
        <input id="image" name="recipe_image" type="text" class="form-control" placeholder="Place URL of image" >
        </div>
    </section> 
    <section class="add">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon2">Ingredients</span>
            </div>
            <textarea id="ingredients" name="ingredient_description" class="form-control" aria-label="With textarea"></textarea>
        </div>
    </section>
    <section class="add">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">Method</span>
            </div>
            <textarea id="method" name="method_instruction" class="form-control" aria-label="With textarea"></textarea>
        </div>
    </section>
    <section class="add">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon4">Prep Time in mins</span>
            </div>
        <input id="prep_time" name="prep_time" type="text" class="form-control" placeholder="Prep Time" >
        </div>
    </section>
    <section class="add">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon5">Cooking Time in mins</span>
            </div>
        <input id="cooking_time" name="cooking_time" type="text" class="form-control" placeholder="Cooking Time" >
        </div>
    </section>
    <section class="add">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon6">Serving</span>
            </div>
        <input id="serving" name="serving" type="text" class="form-control" placeholder="Serving" >
        </div>
    </section>
    <section>
        <div class="buttons">
            <button href="{{url_for('display_recipes')}}" class="btn btn-primary btn-sm"
                type="submit" name="action">Add</button>
                {% for recipe in recipes %} 
            <button href="{{url_for('recipe', recipe_id=recipe._id)}}" class="btn btn-primary btn-sm">Back</button>
                {% endfor %}
        </div>
    </section>
</form>
{% endblock %}