{% extends 'base.html'%}
{% block content %}

<h2>Category</h2>

<section>
    <div class="col mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><strong>Category: </strong><a class="card-link" href="{{url_for('recipe')}}">
                </a><button type="button" id="display-buttons" class="btn btn-primary">
                <a class="display-button" href="{{url_for('edit_recipe')}}">Edit</a></button>
                <button type="button" id="display-buttons" class="btn btn-danger" data-toggle="modal" data-target="#delete">Delete</button></h5>
            </div>
        </div>
    </div>
</section>
   
{% endblock %}