{% extends 'base.html'%}

{% block content %}

<h2>Recipes</h2>
{% for recipe in recipes %}
    <section>
    <div class="modal" id="delete" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Deleting Recipe</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>You are going to delete {{ recipe.recipe_name }} recipe</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger"><a href="{{url_for('display_recipes')}}">Delete</a></button>
                </div>
            </div>
        </div>
    </div>
    </section>
    <section>
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><strong>Recipe Name: </strong><a class="card-link" href="{{url_for('recipe')}}">
                    {{ recipe.recipe_name }} </a><button type="button" id="display-buttons" class="btn btn-primary">
                    <a class="display-button" href="{{url_for('edit_recipe', recipe_id=recipe._id)}}">Edit</a></button>
                    <button type="button" id="display-buttons" class="btn btn-danger" data-toggle="modal" data-target="#delete">Delete</button></h5>
                </div>
            </div>
        </div>
    </section>
    
    {% endfor %}
    <section>
        <div class="buttons">
            <a href="{{url_for('home')}}" class="btn btn-primary btn-sm"
            tabindex="-1" role="button">Back</a>
        </div>  
    </section>
{% endblock %}