{% extends 'base.html'%}

{% block content%}
<h2> Recipes</h2>
<section class="add">
    <div class="input-group">
    <input type="text" class="form-control" placeholder="Prep Time" >Prep Time:
    </div>
</section>
<section class="add">
    <div class="input-group">
    <input type="text" class="form-control" placeholder="Cooking Time" >Cooking Time:
    </div>
</section>
<section class="add">
    <div class="input-group">
    <input type="text" class="form-control" placeholder="Serving" >Serving:
    </div>
</section>
<section>
    <div class="buttons">
        <a href="{{url_for('home')}}" class="btn btn-primary btn-sm"
         tabindex="-1" role="button">Back</a>
    </div>  
</section>
{% endblock %}