{% extends 'base.html'%}

{% block content%}
{% for recipe in recipes %}
<h2>Editing {{ recipe.recipe_name }}</h2> 
<form action="{{ url_for('update', recipe_id=recipe._id) }}" method="POST">
    <section class="add">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Category</label>
            </div>
            <select class="custom-select" id="category" name="category_name">
                <option selected>Choose...</option>
                {% for category in categories %}
                    <option value="{{ category.category_name }}">{{ category.category_name }} </option>
                {% endfor %}
            </select>
        </div>
    </section>    
    <section class="add">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Recipe Name</span>
                </div>
                <input type="text" class="form-control" value="{{ recipe.recipe_name }}" >
            </div>
    </section>
    <section class="add">
        <!--- <label for="basic-url">Image of your Recipe</label> --->
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" >Url of Image</span>
            </div>
            <input type="text" class="form-control"  placeholder="Optional" id="basic-url" aria-describedby="basic-addon3">
        </div>
    </section>
    <section class="add">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" >Ingredients</span>
            </div>
            <textarea class="form-control" aria-label="With textarea">{{ recipe.ingredients }}</textarea>
        </div>
    </section>
    <section class="add">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" >Method</span>
            </div>
            <textarea class="form-control" aria-label="With textarea">{{ recipe.method }}</textarea>
        </div>
    </section>
    <section class="add">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" >Prep Time in mins</span>
            </div>
        <input type="text" class="form-control" placeholder="{{ recipe.prep_time }}" >
        </div>
    </section>
    <section class="add">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" >Cooking Time in mins</span>
            </div>
        <input type="text" class="form-control" placeholder="{{ recipe.cooking_time }}" >
        </div>
    </section>
    <section class="add">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" >Serving</span>
            </div>
        <input type="text" class="form-control" placeholder="{{ recipe.serving }}" >
        </div>
    </section>
    <section>
        <div class="buttons">
            <a href="{{url_for('recipe', recipe_id=recipe._id )}}" class="btn btn-primary btn-sm"
                tabindex="-1" role="button" type="submit">Update</a>
            
            <a href="{{url_for('recipe', recipe_id=recipe._id)}}" class="btn btn-primary btn-sm"
                tabindex="-1" role="button">Back</a>
        </div>  
    </section>
</form>    
{% endfor %}
{% endblock %}