{% extends 'base.html'%}
{% block content %}

<!--- Home --->
<h2>Home </h2>
<section>
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
            <div class="card">
                <img src="{{url_for('static', filename='images/steak-with-anchovy-butter-768x960.webp')}}" class="card-img-top" alt="Beef Curry">
                <div class="card-body">
                    <h4 class="card-title">Category: <a class="card-link" href="{{url_for('display_recipes')}}">Beef</a></h4>
                    <h5 class="card-title">Recipe: <a class="card-link" href="{{url_for('recipe')}}">Steak with anchovy and caper butter</a></h5>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <img src="{{url_for('static', filename='images/mexican-chicken-burger.jpg')}}" class="card-img-top" alt="Mexican chicken burger">
                <div class="card-body">
                    <h4 class="card-title">Category: <a class="card-link" href="{{url_for('display_recipes')}}">Chicken</a></h4>
                    <h5 class="card-title">Recipe: <a class="card-link" href="{{url_for('recipe')}}">Mexican Chicken Burger</a></h5>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <img src="{{url_for('static', filename='images/maroccan-chicken.jpg')}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Category: <a class="card-link" href="{{url_for('display_recipes')}}">Chicken</a></h4>
                    <h5 class="card-title">Recipe: <a class="card-link" href="{{url_for('recipe')}}">Spicy Moroccan chicken with lemon couscous</a></h5>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <img src="{{url_for('static', filename='images/rack-of-lamb-delish.jpg')}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Category: <a class="card-link" href="{{url_for('display_recipes')}}">Lamb</a></h4>
                    <h5 class="card-title">Recipe: <a class="card-link" href="{{url_for('recipe')}}">Rack of Lamb</a></h5>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <img src="{{url_for('static', filename='images/Naked-crab.jpg')}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Category: <a class="card-link" href="{{url_for('display_recipes')}}">Fish</a></h4>
                    <h5 class="card-title">Recipe: <a class="card-link" href="{{url_for('recipe')}}">Mini Smoked Haddock and Prawn fish pies</a></h5>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <img src="{{url_for('static', filename='images/vegan-nachos.jpg')}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Category: <a class="card-link" href="{{url_for('display_recipes')}}">Vegan</a></h4>
                    <h5 class="card-title">Recipe: <a class="card-link" href="{{url_for('recipe')}}">Vegan Nachos</a></h5>
                </div>
            </div>
        </div>
    </div>
</section>    
{% endblock %}