{% extends 'base.html'%}

{% block content%}

{% for recipe in recipes%}
    <h2>{{recipe.recipe_name}}</h2>
    <div class="row">
        <div class="col s12 m6 xl3" >
            <div>
            <img class="food-image" src="{{url_for('static', filename='images/Beef-curry.jpg')}}" alt="">
            </div>
            <div class="timing">
            {% if recipe.category_name %}
                <strong>Category:</strong> {{recipe.category_name}}
            {% endif %}   
            {% if recipe.prep_time %} 
                <strong>Prep Time:</strong> {{recipe.prep_time}} 
            {% endif %}
            {% if recipe.cooking_time %}
                <strong>Cooking Time:</strong> {{recipe.cooking_time}}
            {% endif %} 
            {% if recipe.serving %}
                <strong>Serving:</strong> {{recipe.serving}}
            {% endif %} 
            </div>
        </div>   
    </div>    
{% endfor %}

{% endblock %}