{% extends 'base.html'%}

{% block content %}
{% for recipe in recipes %}
<h2>{{ recipe.recipe_name }}</h2>
<!--- Recipe Name starts-->
<section class="container time">
    <div class="row">
        <div class="col-sm-12 md-6 xl-2">
            <div class="input-group card-img-top">
                <div class="input-group-prepend">  
                {% if recipe.recipe_image %}   
                    <img src="{{ recipe.recipe_image}}" class="food-image" alt="{{ recipe.recipe_name }}">
                {% else %}
                    <img src="{{url_for('static', filename='images/defaultimage.png')}}" class="food-image" alt="{{ recipe.recipe_name }}">
                {% endif %}
                </div>
            </div> 
    <!--- Recipe Name Ends -->
    <!--- Category starts -->
            <div class="input-group add">
                <div class="input-group-prepend">
                    <span class="input-group-text">Category Name</span>          
                </div>
                <p class="form-control" > {{ recipe.category_name }}</p>
            </div>
        <!--- Category Ends -->
        <!--- Recipe Name starts -->
            <div class="input-group add">
                <div class="input-group-prepend">
                    <span class="input-group-text">Recipe Name</span>          
                </div>
                <p class="form-control" >{{ recipe.recipe_name }}</p>
            </div>
        <!--- Recipe Name Ends -->
        <!--- Prep Time Starts -->
            <div class="input-group add">
                <div class="input-group-prepend">
                    <span class="input-group-text">Prep Time</span>
                </div>
                <p  class="form-control" placeholder="Prep Time" >{{ recipe.prep_time }} min</p>
            </div>
        <!--- Pre Time Ends -->
        <!--- Cookng Time starts -->
            <div class="input-group add">
                <div class="input-group-prepend">
                    <span class="input-group-text">Cooking Time</span>
                </div>
                <p  class="form-control" placeholder="Cooking Time" >{{ recipe.cooking_time }} min</p>
            </div>
        <!--- Cooking Time Ends -->
        <!--- Serving starts -->
            <div class="input-group add">
                <div class="input-group-prepend">
                    <span class="input-group-text">Serving</span>
                </div>
                <p  class="form-control" placeholder="Serving" >{{ recipe.serving }}</p>
            </div>
        </div>
    </div>   
<!--- Serving Ends -->
<!--- Ingredients starts -->
    <div class="add">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Ingredients</span>
            </div>
            <textarea class="form-control" aria-label="With textarea">{{ recipe.ingredients }}</textarea>
        </div>
    </div>
<!--- Ingredients Ends -->
<!--- Method starts -->
    <div class="add">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Method</span>
            </div>
            <textarea class="form-control" aria-label="With textarea">{{ recipe.method }}</textarea>
        </div>
    </div>
</section>   
<!--- Method Ends -->
<!--- Buttons starts -->
<section> 
    <div class="buttons">
        <a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" class="btn btn-primary btn-sm"
         tabindex="-1" role="button">Edit</a>
        <a href="{{url_for('display_recipes')}}" class="btn btn-primary btn-sm"
         tabindex="-1" role="button">Back</a>
    </div>  
</section>
<!--- Buttons Ends -->
{% endfor %}

{% endblock %}